body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 34px;
  background: url("../images/background.jpg");
}
#heading {
	text-align: center;
	padding-bottom: 15px;
}
#main {
	background-color: black;
	color: white;
	font-size: 10px;
}
.container {
	background-color: grey;
}
#start {
	background-color: black;
	width: 500px;
	height: 500px;

}

#end{
	background-color: black;
	width: 500px;
	height: 500px;
	
}
